html {
    margin: 0;
    padding: 0;
}
body {
    background: #E1EBF4;
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 1200px;
   margin: auto;
}
.container {
    width: 1140px;
    margin: auto;
} 
.menu__link {
    text-decoration: none;
    color: #000;  
}
  

.menu__item {
    list-style-type: none; 
    margin-right: 31px; 
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px; 
     
}
.menu__item:last-child {
    margin-right: 0;
}

.menu__title {
    display: flex;
}
.socials__link {
    list-style-type: none;
    margin-right: 15px;
     
}
.socials__link:last-child {
  margin-right: 0;
}
.socials__item {
    display: flex;
}
.header__blok {
    display: flex;
    justify-content:space-between;
    align-items: baseline; 
    padding-top: 39px;  
}

.hero {   
    height: 800px; 
   
}
.wrapper__hero {
   
   background: url(../img/Rectangle\ 40.png) center no-repeat;
}
.hero__title-logo{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 98px;
    margin-top: -100px;    
}
.hero__title-logo-shadow {
    content: ("");
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 98px;
   margin-top: 125px;
    color: #FDD418;
    margin-left: 3px;

}
.hero__text-master {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    margin-top: 14px;
}
.hero__text-travel {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    margin-top: 9px;
}
.btn__record  {
    background: #F8D930;
    border-radius: 3px;
    padding: 18px 70px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    text-decoration: none;
    margin-top: 60px;
    display: inline-block;
}
.aboout {
    background: white;
    width: 1200px;
    height: 747px;
    margin: auto;
}
.aboout__blok {
    display:inline-flex;      
}
.aboout__time {
   margin-top: 188px;
}

.center {
    margin-left: 20px;
    margin-top: 76px;
}

.aboout__text-text {
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 147%;
margin-top: 80px;
}
.boot {
    margin-top: 76px;
}
.aboout__text-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-top: 107px;
}
.aboout__text-travel {
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 140%;
margin-top: 77px;
}
.aboout__text-nutrition {
    
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 140%;
margin-top: 58px;
float: left;
}


.branch {
    margin-left: 258px;
   
}
.photo {
   padding-top: 120px;
    display: flex;
    padding-bottom: 34px;
}
.line {
    width: 50px;
    border-top:  solid 2px #000000;
    border-bottom: solid 2px #F8D930;

    margin-right: 20px;   
}
.blok__line{
    display: flex;
   justify-content: space-between;
    
}
.blok__line-right {
    display: flex;
    justify-content:space-between;
}
.schedule {
    margin-top: 64px;
}
table {
    width: 1200px; 
    border-collapse: collapse; 
    border: 2px solid white;   
   }
   td {
        padding: 3px;   
        text-align: left; 
   }
   th, td {
    background:#ffffff;
    padding: 37px;
    font-family: Montserrat;

   }
   tr {
    border: 1px solid #FDD418;
   }
   .wrapper__schedule {
       width: 1200px;
       margin: auto;
   }
   .country {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 140%;
    color: #0B141D;
   }
   .city {
    font-size: 16px;
    line-height: 140%;   
    color: #B4B4B4;    
   }
   .data {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #0B141D;
   }
   th {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #0B141D;
   }
 .report {
     width: 1200px;
     height: 550px;
     background: #ffffff;
     display: flex;
 }
 .klass {
     width: 850px;
     height: 400px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     
 }  
 .price {
     font-weight: bold;
 }
 .klass__price {
     margin-bottom: 20px;
 }
 .klass__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
 }
 .here {
     color: #000;
 }
 .blog {
     background:#ffffff;
     display: flex;
     justify-content:space-between;
     
 }
 .blog__title-photo {
     display: flex;
     justify-content: center;
     margin-bottom: 70px;            
     font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
 }
 .blog__text {
     padding-left: 30px;
 }
 .blog__text-title {
     margin-top: 143px;
     margin-bottom: 30px;
     font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 140%;
    color: #0B141D;
 }
 .blog__text-text {
     margin-bottom: 40px;
     font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
 }
 .link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #0B141D;

 }
 .blog__conteaner {
     margin-top: 120px;
     display: flex;
     justify-content:space-between;
 }
 .alaska {
     margin-right: 40px;
 }
 .blog__conteaner-paris {
     display: flex;
     justify-content:space-between
    
 }
 .branch-paris {
     margin-top:auto
 }
 .blog-paris {
     padding-top: 150px;
     padding-right: 30px;
     padding-bottom: 100px;
 }
 .record {
     width: 1200px;
     height: 800px;
     background: url(../img/Rectangle\ 58.png);
     display: flex;
     justify-content: flex-end;
     align-items: center;
     
     
 }
 form {
    margin-right:  50px;
    margin-top: 130px;
 }
 input {
    background:linear-gradient(360deg, #0C1729 0%, rgba(40, 41, 44, 0.22) 8.91%);
   border: solid 1px #0C1729;
    color: #FDD418;
    border-bottom: 1px solid #FDD418;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
 }
 .row {
    color: #FDD418;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
     font-size: 12px;
    line-height: 15px;
    

 }
 .bootn {
    color: #FDD418; 
    border: solid 2px #FDD418;
    padding: 10px 100px;
    border-radius: 3px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
     letter-spacing: 5px;
     margin-top: 70px;
 }
 .none {
     border: none;
 }
 .footer {
    background: #0C1729;
    color: #FDD418;    
 }
 .conteaner-footer {
    height: 228px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
   
 }
 .item-footer {
    color: #FDD418;
    text-decoration: none;
    line-height: 28px;  
 }
.logo-footer {
    margin-bottom: 30px;
}
 .menu-footer-text {
    list-style-type: none;
 }
 .item-cocials {
    color: #FDD418;
    text-decoration: none;
    line-height: 28px;
    
 }
 .cocials-footer-pul {
    list-style-type: none;
 }
 .politica {
     margin-bottom: 20px;
 }
 .mastercard {
     margin-bottom: 10px;
 }